
body{
    background-color: #333333;
    height: 100vh;
    width: 100vw;
}

p{
    text-align: center;
    letter-spacing: 1rem;
    font-size: 36px;
    font: Helvetica, sans-serif;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    body{
    background-color: #8282ff;
    height: 100vh;
    width: 100vw;
    }

    p{
        text-align: center;
        font-size: 64px;
        font: Helvetica, sans-serif;
        color: #ffffff;
    }
}